/* Universal */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:  Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h2, h4 {
    margin: 0px;
    padding: 10px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid seashell;
    background-color: black;
    width: 100%;
    height: 69px;
}

header img {
    height: 50px;
    padding-left: 10px;
}

nav a {
    text-decoration: underline;
    padding-right: 15px;
}

nav a:link {
    color: seashell;
}

nav a:visited {
    color: seashell;
}

/* div {
    border: 1px solid white;
} */

/* Content */

.panel#mission {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 700px;
    background-image: url(../images/img-mission-background.jpg)
}

.text-content {
    background-color: black;
    width: 100%;
}

.panel#featured {
    height: 700px;
    width: 1000px;
    margin: 0px 100px;
    padding-top: 70px;
}

.teaboxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
}

.teabox {
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 10px;
}

.teabox img {
    display: block;
    height: 200px;
}

.teabox span {
    display: block;
    padding: 5px;
    font-weight: bold;
}

.panel#locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-image: url(../images/img-locations-background.jpg);
}

.location-boxes {
    display: flex;
    justify-content: center;
}

.location-box {
    background-color: black;
    height: 300px;
    width: 300px;
    margin: 15px 20px;
    opacity: 1;
}

.location-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact {
    height: 200px;
}

/* Footer */

footer {
    align-self: flex-start;
    padding-left: 20px;
}